
<h1>@ViewBag.title</h1>

<form method="post" action="/events/edit">

    <input type="hidden" value="@ViewBag.eventsDictionaryObj.Id" name="eventId" />
    <p> Edit Event Name:</p>
    <input type="text" name="name" value="@ViewBag.eventsDictionaryObj.Name" /> 
    <p>Edit  Event Description:</p>
    <input type="text" name="description" value="@ViewBag.eventsDictionaryObj.Description" /> 
    <p>  Edit Event Date</p>
    <input type="date" name="date" value="@ViewBag.eventsDictionaryObj.Date" />


    <p>  Edit Email</p>
    <input type="email" name="email" value="@ViewBag.eventsDictionaryObj.ContactEmail" />

   

    <p>  Edit Event Location</p>
    <input type="text" name="location" value="@ViewBag.eventsDictionaryObj.EventLocation" />


    <p>  Edit Event Attendee</p>
    <input type="text" name="attendee" value="@ViewBag.eventsDictionaryObj.NumberOfAtendee" />



    <input type="Submit" value="Edit Event!" />



</form>

<!--Avipsha - another Layout partial link created -->
<!--<p> <partial name="/Views/Shared/ModifyLayout.cshtml" /></p> -->